@import "styles/colors";
@import "styles/fonts";

.genres-list {
  list-style-type: none;
  width: 500px;
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  gap: 30px;

  &__item {
    @include font($weight: 500, $size: 16px, $height: 20px);

    text-transform: uppercase;
    text-decoration: none;
  }
}
