.button--transparent {
  background: rgba(96, 96, 96, 0.68);
  border-color: transparent;
  border-radius: 4px;
  width: 177px;
  height: 46px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  color: #f65261;
}
