@import "styles/colors";
@import "styles/fonts";
@import "styles/buttons";

.add-movie-button {
  @extend %btn--secondary-shared;
  width: 180px;
  height: 50px;

  background: $secondary-background-color;
  border-color: transparent;
}
