@import "styles/colors";
@import "styles/fonts";

%btn--primary-shared {
  @include font($weight: 500, $height: 24px);
  text-align: center;
  text-transform: uppercase;

  background: $secondary-text-color;
  color: $main-text-color;
  border-color: transparent;
  border-radius: 4px;
}

%btn--secondary-shared {
  @include font($weight: 600, $height: 24px);
  text-align: center;
  text-transform: uppercase;

  color: $secondary-text-color;
  border-radius: 4px;
}
