$primary-background-color: #232323;
$secondary-background-color: #424242;
$tertiary-backgound-color: #555555;
$header-background-color: #000000;
$main-text-color: #ffffff;
$secondary-text-color: #f65261;
