@import "styles/colors";
@import "styles/fonts";

.movie-card {
  display: flex;
  flex-direction: column;

  width: 328px;
  height: 560px;

  .movie-card__container {
    display: flex;
    justify-content: flex-end;

    .menu-icon {
      padding-top: 14px;
      padding-right: 14px;
      position: absolute;
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }

    img {
      width: 328px;
      height: 464px;
    }
  }

  .movie-card__information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 14px;

    .movie-card__information__title {
      @include font($weight: 500, $size: 18px, $height: 22px);

      background-color: #232323;
      opacity: 0.7;
      mix-blend-mode: normal;
    }

    .movie-card__information__year {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      width: 66px;
      height: 22px;

      border: 1px solid #979797;
      opacity: 0.5;
      border-radius: 4px;

      p {
        @include font($weight: 500, $size: 14px, $height: 17px);
        text-align: center;
      }
    }
  }
  .movie-card__genre {
    @include font($weight: 500, $size: 14px, $height: 17px);
    margin-top: 8px;
    opacity: 0.7;
  }
}
