@import "styles/colors";
@import "styles/fonts";

.app-logo {
  @include font($weight: 500, $size: 20px, $height: 24px);
  letter-spacing: 0.5px;
  color: $color-red;

  span {
    font-weight: 900;
  }
}
