@import "styles/colors";

.main {
  height: auto;
  overflow: visible;

  &__separator {
    height: 10px;
    background: $tertiary-backgound-color;
  }

  &__container {
    height: auto;
    background-color: $primary-background-color;

    &__tools {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 30px;
    }

    &__progress-bar {
      margin-top: 20px;
      margin-left: 24px;
      margin-right: 24px;

      width: 94%;
      height: 2px;

      background: $secondary-background-color;
    }
  }
}
