.main {
  height: auto;
  overflow: visible;
}

.main__separator {
  height: 10px;
  background: #555555;
}

.main__container {
  height: auto;
  background-color: #232323;
}

.main__container__tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress-bar {
  margin-top: 19px;
  margin-left: 55px;
  margin-right: 57px;
  width: 94%;
  height: 2px;
  background: #424242;
}

.loading-message {
  padding-top: 50px;
  padding-left: 50px;
  height: 20px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 20px;

  text-transform: uppercase;

  color: #ffffff;
}

.loading-message__container {
  height: 1321px;
  background-color: #232323;
}
