.movies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  list-style-type: none;

  &__item {
    flex-basis: calc(100% / 3);
    display: flex;
    justify-content: center;
  }
}
