.movies-list {
  margin-bottom: 0;
  padding-top: 26px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  list-style-type: none;

  li {
    flex-basis: 25.1%;
  }
}
