@import "styles/colors";
@import "styles/fonts";

.movies-sort-dropdown {
  display: flex;
  padding-top: 20px;
  width: 400px;

  &__label {
    width: 100px;
    height: 20px;

    @include font($weight: 400, $size: 16px, $height: 20px);

    text-transform: uppercase;
    letter-spacing: 1px;
    mix-blend-mode: normal;
    opacity: 0.6;
  }

  &__list {
    height: 20px;

    @include font($weight: 500, $size: 16px, $height: 20px);
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: inherit;
    border: none;
  }
}
