@import "styles/colors";
@import "styles/fonts";
@import "styles/buttons";
@import "styles/z-index";
@import "styles/modal";

.movie-dialog {
  @include modal-background();

  .modal-small {
    @include modal($width: 50vw, $height: 30vh);
  }

  .modal {
    @include modal($width: 80vw, $height: 75vh);
  }

  .modal-header {
    display: flex;
    flex-direction: column;

    &__button {
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
      margin-top: 20px;
      background-color: inherit;
      border: none;
    }

    &__title {
      @include font($weight: 300, $size: 40px, $height: 50px);
      margin: 0 auto;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }

  .modal-content {
    @include font($weight: 400, $size: 20px, $height: 24px);
    margin: 0 auto;
  }

  .modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

    &__button {
      @extend %btn--primary-shared;
      width: 180px;
      height: 60px;
    }
  }
}
