.filter-genre {
	list-style-type: none;
	width: 434.5px;
	padding-top: 19.36px;
	padding-left: 55px;

	display: flex;
	justify-content: space-between;
}

.filter-genre li {
	height: 20px;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	text-transform: uppercase;

	color: #ffffff;
}
