header {
	height: 396px;
	width: 100%;
	background: #000000;
	box-sizing: border-box;
}

.header__background {
	box-sizing: border-box;
	height: 100%;
	background: url("https://s3-alpha-sig.figma.com/img/9ab1/b611/92a81bbe79a924292111ca43f3a39e8f?Expires=1654473600&Signature=aUhTX7aUmhSKHsk4ewxfxWQdvASlqSEr9L68B-kQNrmWOQPT7wEcpcNBQWwIqYrV0SB2itnDv0xC9xRKAsRxG1vdoFjcafu7rdHKZl9tVujko0mYqYenAWnQoVry1q4P7x8-SjG8jLxaTlGg7AFvH8HwR0KPbKsuAn38SHo-urEYSV5rnrhAtlDUbZFQ~jbMdjoO7JaBZPnh5xbjBAqcPfe88FpCTvuf59vTy3SxMHqUaZZY-DeRFxcHIIZGIjDhE7HetW8NYyn8gS9XjA6zWIlaHutfJgf-QdLEMMzS8goW1P8g6K739LCuk-zWumOSx5ZmrwcS6Wdro~C2D8joew__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
	mix-blend-mode: normal;
	opacity: 0.3;
	filter: blur(8.15485px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header__elements {
	position: absolute;
	top: 0;
	width: 100%;
	background: transparent;
}

.header__first-elements {
	display: flex;
	justify-content: space-between;
	margin-left: 76px;
	margin-top: 24px;
	margin-right: 86px;
	background: inherit;
}
